{% extends 'base.html' %}
{% load static %}
{% block title %}Download service{% endblock %}
{% block body %}
    <div class="container pt-3">
        <h1 class="mb-3">Service progress</h1>
        <h3 class="mb-3">Key: {{ routing_key }}</h3>
        <span id="serviceDuration">Service has been running for <span id="timeDisplay">0 second</span> since <span
                id="timeStart">now</span></span>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>URL</th>
                    <th>Download</th>
                    <th>Compress</th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{{ url.url }}" download target="_blank">{{ url.url }}</a></td>
                        <td id="download-{{ forloop.counter0 }}">00.00%</td>
                        {% if forloop.first %}
                            <td rowspan="{{ forloop.revcounter }}" style="vertical-align: middle" id="compress">00.00%
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary disabled" download id="downloadButton">Download</a>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/stomp.js' %}"></script>
    <script src="{% static 'js/sockjs.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/consumeProgress.js' %}"></script>
{% endblock %}